@charset "utf-8";
@import url "loading_bar.css";
/*body {
	padding:4px auto;
	text-shadow: 0px 0px #000;
	border-color: #000;
	background-color:#FFF9DF;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}*/
body>*{
	margin:auto;
	background-color:#FFF;
}
.footer {
	font-weight: 800;
	text-align: center;
	clear: both;
}
#siimage{
	border: 1px solid #000;
	margin-right: 15px;
	text-align:left;
}
.content{padding:5px 10px}
.fullwidth{
	width:100%;
	margin:auto;
}
.result{
	padding:20px;
	margin:10px;
	font-weight:bolder;
	font-size:larger;
	color:#000;
}
.warning{
	background-color:#E87600;
	border:thick dashed #000;
	text-align:left;
}
.neutral{
	background-color:#FFF;
	border:thick solid #F00;
	text-align:left;
}
form{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
fieldset{display:inline-block}
form>fieldset{
	border:medium #90F solid;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	text-align:left;
}
form>fieldset>legend{
	display:inline-block;
	background-color:#90F;
	font-weight:bold;
	font-size:large;
	color:#FFF;
	padding:2px;
}
fieldset fieldset{
	display:block;
	border:none;
	margin:auto;
}
fieldset fieldset *{
	display:inline-block;
	min-width:0px;
}
fieldset fieldset>legend{
	font-weight:bold;
}
input, label{
	font-weight:bolder;
	display:inline-block;
	margin:2px 5px;
}
label{
	min-width:200px;
	text-align:left;
}
#captchaButton{
	float:right;
	position:relative;
	display:inline-block;
	width:48;
	height:96;
}
.form-error{
	margin-left:10px;
	font-weight:bold;
	color:#F00;
}
.radio{
	display:inline-block;
	text-align:left;
}
header{
	margin:25px auto 0px;
	background-color:#90F;
	color:#FFF;
	overflow:hidden;
}
.headerLeft{
	width:80%;
	font-family:THChakraPetch;
	font-weight:bold;
}
.headerLeft h1{font-size:40px}
.headerLeft h5{font-size:18px}
.headerRight{
	width:20%;
}