@charset "utf-8";
#mainMenu>ul>li{
	display:inline-block;
	font-weight:bold;
	list-style-type:none;
	margin:0.5em;
}

label.require:before, th[scope="row"].require:before, td.require:before{
	content:"*";
	color:#F00;
}

fieldset{background:#FFF}

fieldset.require:after, th[scope="col"].require:after{
	content:"* = required field";
	color:#F00;
	font-style:italic;
	font-size:small;
}

