.sidebar.fixed,
[data-magellan-expedition] {
  left: auto !important; }
.reveal-modal-bg {
  position: fixed;}

  
  div.withbg{
	background:url(../img/bg-900x1600.jpg) fixed center top;
	background-size: 100% auto;
}
	div.withbg-index{
	background:url(../img/bg-900x1600.jpg) fixed center top;
	background-size: 100% auto;
}

@media only screen and (min-width: 64.063em) {
   div.withbg{
	background:url(../img/bg-1600x900.jpg) fixed no-repeat center top;
}
	div.withbg-index{
	background:url(../img/bg-1600x900.jpg) fixed no-repeat center top;
	background-size: 100% auto;
}
}

