#magellan {
  min-width: 0;
  max-width: $row-width - $column-gutter;
  @media only screen and (max-width: $row-width) {
    width: auto;
    left: $column-gutter/2;
    right: $column-gutter/2;
  }
}