@charset "utf-8";
.tabs{
	border:#000 thin solid;
}
.tabs>ul>il{
	display:inline-block;
	border:#999 thin ridge;
	margin:0.25em 0.25em 0em;
}
.tabs>div{	display:none}
.tabs>div.active{
	display:block;
	padding:0.5em;
}
