@charset "utf-8";
a:link, a:visited{
	color:#F00;
	text-decoration:none;
}
a:hover, a:active{
	color:#00F;
	text-decoration:underline;
}
#mainMenu>ul>li{
	display:inline-block;
	font-weight:bold;
	list-style-type:none;
	margin:0.5em;
}

