@charset "utf-8";
.admin{
	position:fixed;
	right:0.5em;
	bottom:0.5em;
	border:#C3C dotted medium;
	padding:5px;
	border-radius:5px;
	width:100px;
	background:#FEE;
	opacity:0.9;
	font-weight:bolder;
	font-size:medium;
	color:#900;
}